<div class="gamemap" *ngIf="!batmanWon && !jokerWon">
  <div class="characterSection">
    <app-character [characterImage]="currentEnemy.characterImage"
                   [name]="currentEnemy.name"
                   [hp]="currentEnemy.max_hp"
                   [mp]="currentEnemy.max_mp"
                   [physAttackStrength]="currentEnemy.magicStrength"
                   [magicAttackStrength]="currentEnemy.physicalStrength">

    </app-character>
  </div>
  <div class="seperator"></div>
  <div class="characterSection">
    <app-character [characterImage]="currentHero.characterImage"
                   [name]="currentHero.name"
                   [hp]="currentHero.max_hp"
                   [mp]="currentHero.max_mp"
                   [physAttackStrength]="currentHero.magicStrength"
                   [magicAttackStrength]="currentHero.physicalStrength">
    </app-character>
  </div>
</div>
<div class="gamemap" *ngIf="batmanWon">
  <h1>You won!</h1>
</div>
<div class="gamemap" *ngIf="jokerWon">
  <h1>Game Over!</h1>
</div>
